name: Angular CI/CD

on:
  push:
    branches: ['dev', 'main']
  pull_request:
    branches: ['dev', 'main']

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install dependencies
        run: npm ci

      # - name: Setup Angular environment
      # run: |
      #   mkdir -p src/environments
      #   if [ "${GITHUB_REF}" == "refs/heads/main" ]; then
      #     echo "export const environment = { production: true, apiUrl: '${{ secrets.API_URL }}' };" > src/environments/environment.ts
      #   else
      #     echo "export const environment = { production: false, apiUrl: 'http://localhost:8080' };" > src/environments/environment.ts

      - name: Run tests
        run: npm test -- --watch=false

      - name: Build Angular
        run: npm run build -- --configuration=production

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: docker build -t ghcr.io/matthias-gousseau/stockmanager-frontend:latest .

      - name: Push Docker image
        run: docker push ghcr.io/matthias-gousseau/stockmanager-frontend:latest

      - name: Deploy to VPS
        if: github.ref == 'refs/heads/main'
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/deploy
            docker compose pull
            docker compose up -d --remove-orphans
